repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]

  # Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.8
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py39-plus]

  # Spellcheck
  - repo: https://github.com/crate-ci/typos
    rev: v1.34.0
    hooks:
      - id: typos

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]

  # Prevent committing with Bug comments
  - repo: local
    hooks:
      - id: no-bug-comments
        name: 'No Bug comments'
        description: 'Prevent commit if Bug comments are present'
        entry: '(?i)#\s*bug'
        language: pygrep
        types: [file]

  - repo: local
    hooks:
      - id: verify-rosdep-map
        name: Verify Rosdep Mappings
        entry: python3 package_xml_validation/helpers/verify_rosdep_mapping.py
        language: system
        files: package_xml_validation/data/cmake_rosdep_map.yaml
        pass_filenames: false
        description: Ensures all keys in the custom cmake mapping resolve to valid rosdep keys.
