name: Lint Code Base
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Linting:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup
        run: |
          sudo apt-get update && sudo apt-get install -y clang-format cppcheck libxml2-utils python3-rosdep

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Install and Run pre-commit
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files --show-diff-on-failure
